@font-face {
  font-family: "Proxima Nova";
  src: url(./assets/font/proxima-nova-12.ttf);
}
@font-face {
  font-family: "Proxima Nova Boldit";
  src: url(./assets/font/proxima_nova_fonthub/ProximaNova-BoldIt.ttf);
}

html {
  font-size: 18px;
}

body {
  scrollbar-gutter: stable;
  color: #f5efe9;
  font-family: "Proxima Nova";
  background-color: #212529;
  /*font-size: 4.1vw; /* Establece un tamaño de fuente inicial relativo al ancho de la pantalla (para que la letra vaya aumentando segun el tamaño de la pantalla)*/
}

body::-webkit-scrollbar {
  width: 0.5em;
  background: #090e16;
}

body::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: #090e16;
}
