<!DOCTYPE html>
<div class="row text-center">
  <div class="col">
    <p>Revisa el Video para que lo Entiendas todo</p>
    <div class="video embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/xat1GVnl8-k?si=A-b4NDvYxwc-wQsX"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <p>si estas listo texto texto texto</p>
    <button type="button" class="btn btn-primary">Agendar llamada</button>
    <p>solo tenemos disponibilidad para 5 barberias</p>
    <p>
      nuestro enfoque esta en trabajar arduamente para cumplir nuestra promesa y
      luego abrimos agenda
    </p>
  </div>
</div>
