<!DOCTYPE html>
<div class="row section_video text-center">
  <div class="col">
    <div class="overlay" style="pointer-events: none"></div>
    <!--para meterle el autoplay: copiar y pegar esto "?autoplay=1" al final del src-->
    <iframe
      class="video"
      src="https://www.youtube.com/embed/Qn6NqnFkdvU"
      title="¿QUIENES SOMOS? - GROWTHNESS"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <br />
    <a href="https://calendly.com/growthness/growfit" target="_blank"
      ><button type="button" class="col-xs-8 col-lg-4 btn btn-primary">
        AGENDAR LLAMADA
      </button></a
    >

    <p class="parrafo_disponibilidad">
      Solo tenemos disponibilidad para<br />
      <span class="colorido"><b>4 NUEVOS COACH</b></span>
    </p>
    <p>
      Nuestro enfoque está en trabajar arduamente para cumplir nuestra promesa
    </p>
  </div>
</div>
