<!DOCTYPE html>
<div class="row text-center">
  <div class="col">
    <div>
      <iframe
        class="video"
        src="https://www.youtube.com/embed/Qn6NqnFkdvU"
        title="¿QUIENES SOMOS? - GROWTHNESS"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <button type="button" class="col-6 btn btn-primary">Agendar llamada</button>
    <p>
      Solo tenemos disponibilidad para
      <span class="colorido"><b>4 nuevos coaches</b></span>
    </p>
    <p>
      Nuestro enfoque está en trabajar arduamente para cumplir nuestra promesa
    </p>
  </div>
</div>
<!--<iframe
        class="col-8 embed-responsive-item"
        src="https://www.youtube.com/embed/xat1GVnl8-k?si=A-b4NDvYxwc-wQsX"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe
      >--><!--<iframe
        class="col-8 embed-responsive-item"
        width="1275"
        height="717"
        src="https://www.youtube.com/embed/tnTPaLOaHz8"
        title="$10,000 Por Cada Día Que Sobrevivas En El Supermercado"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>-->

<!--<p>
      Si estás listo para que mi equipo y yo te ayudemos a escalar tu negocio
      fitness con una estrategia de contenidos clara y efectiva, agenda una
      llamada en este momento
    </p>-->
