<!DOCTYPE html>
<div class="row">
  <div class="col">
    <h2 class="text-center">¿En qué consiste la llamada?</h2>
    <p class="text-center">
      En la llamada analizaremos si cumples con los requisitos para que podamos
      implementar nuestro método en tu negocio. Gran parte de nuestro éxito ha
      sido escoger muy bien a quién vamos a ayudar con nuestra estrategia de
      contenidos e invertir nuestro tiempo.
    </p>

    <h2 class="text-center">Este programa es para tí si</h2>

    <div class="container">
      <ul>
        <li><p>Eres un coach fitness</p></li>
        <li>
          <p>Te gustaría tener más tiempo para disfrutar con tu familia</p>
        </li>
        <li>
          <p>
            Quieres aumentar tu cartera de clientes y tu presencia en redes
            sociales
          </p>
        </li>
        <li>
          <p>
            Si ya te cansaste de vivir en la incertidumbre de no saber si tu
            contenido funcionará o no
          </p>
        </li>
        <li>
          <p>
            Te preguntas el motivo por el cual no puedes atraer nuevos alumnos a
            tu perfil
          </p>
        </li>
        <li>
          <p>
            Estás dispuesto a invertir en tu negocio (si quieres ganar más,
            debes invertir más)
          </p>
        </li>
        <li>
          <p>
            Tienes 2 horas al mes para convertirte en un coach fitness exitoso
          </p>
        </li>
        <li>
          <p>
            Estás dispuesto a tomar una decisión y dejar de procrastinar el
            éxito de tu negocio
          </p>
        </li>
        <li>
          <p>
            Estas cansado de ver programas prometiendo soluciones imposibles y
            necesitas un equipo comprometido en alcanzar los objetivos
            específicos de tu negocio
          </p>
        </li>
      </ul>
    </div>
    <div class="text-center">
      <button type="button" class="col-6 btn btn-primary">
        Agendar llamada
      </button>
    </div>
  </div>
</div>
