<!DOCTYPE html>
<!--PARA DISPOSITIVOS HASTA MEDIANOS-->
<div class="d-lg-none section_objesiones row">
  <div class="col">
    <div class="overlay" style="pointer-events: none"></div>
    <h2 class="text-center">
      ¿En qué consiste<br />
      la llamada?
    </h2>
    <!--    <h2 class="text-center">
      ¿En qué consiste la llamada?
    </h2>-->
    <!--   <p class="text-center">
      En la llamada analizaremos si cumples con los requisitos para que podamos
      implementar nuestro método en tu negocio. Gran parte de nuestro éxito ha
      sido escoger muy bien a quién vamos a ayudar con nuestra estrategia de
      contenidos e invertir nuestro tiempo.
    </p>-->

    <!--PARA DISPOSITIVOS CHICOS-->
    <p class="text-center d-md-none">
      En la llamada analizaremos si<br />
      <span class="cumples colorido">cumples con los requisitos</span> <br />
      para que podamos implementar <br />
      <span class="colorido">nuestro método en tu negocio</span>.
    </p>
    <p class="text-center d-md-none">
      Gran parte de nuestro éxito ha <br />
      sido <span class="colorido">escoger muy bien</span> a quién <br />
      vamos a ayudar con nuestra <br />
      <span class="colorido">estrategia de contenidos</span> <br />
      e invertir nuestro tiempo.
    </p>

    <!--PARA DISPOSITIVOS MEDIANOS-->
    <p class="text-center d-none d-md-block">
      En la llamada analizaremos si
      <span class="cumples colorido">cumples con los requisitos</span> <br />
      para que podamos implementar
      <span class="colorido">nuestro método en tu negocio</span>.
    </p>
    <p class="text-center d-none d-md-block">
      Gran parte de nuestro éxito ha sido
      <span class="colorido">escoger muy bien</span> a quién <br />
      vamos a ayudar con nuestra
      <span class="colorido">estrategia de contenidos</span> <br />
      e invertir nuestro tiempo.
    </p>

    <div class="pati">
      <div class="es_para_ti d-flex justify-content-center">
        <img src="../../../assets/PARA TI/es-para-ti.png" />
      </div>
    </div>

    <div class="no_es_para_ti d-flex justify-content-center">
      <img src="../../../assets/PARA TI/no-es-para-ti.png" />
    </div>

    <div class="text-center">
      <a href="https://calendly.com/growthness/growfit" target="_blank"
        ><button type="button" class="col-xs-8 col-lg-4 btn btn-primary">
          AGENDAR LLAMADA
        </button></a
      >
    </div>
  </div>
</div>

<!--PARA DISPOSITIVOS GRANDES-->
<div class="d-none d-lg-block section_objesionesG row">
  <div class="col">
    <div class="overlay" style="pointer-events: none"></div>
    <div class="container">
      <h2 class="text-center">¿En qué consiste la llamada?</h2>
      <p class="text-center">
        En la llamada analizaremos si cumples con los requisitos para que
        podamos implementar nuestro método en tu negocio.
      </p>
      <p class="text-center">
        Gran parte de nuestro éxito ha sido escoger muy bien a quién vamos a
        ayudar con nuestra estrategia de contenidos e invertir nuestro tiempo.
      </p>

      <div class="pati">
        <div class="es_para_ti d-flex justify-content-center">
          <img src="../../../assets/PARA TI/es-para-ti.png" />
        </div>
      </div>

      <div class="no_es_para_ti d-flex justify-content-center">
        <img src="../../../assets/PARA TI/no-es-para-ti.png" />
      </div>

      <div class="text-center">
        <a href="https://calendly.com/growthness/growfit" target="_blank"
          ><button type="button" class="col-xs-8 col-lg-4 btn btn-primary">
            AGENDAR LLAMADA
          </button></a
        >
      </div>
    </div>
  </div>
</div>

<!--LISTA ESCRITA A MANO-->
<!--<div class="objesiones">
      <h2 class="col-11">Este programa es para tí si:</h2>

      <ul class="list-unstyled">
        <li>
          <div class="lista d-flex align-items-start justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#ff4500"
              class="bi bi-check-circle-fill col-1"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              />
            </svg>
            <p class="col-11">Eres un coach fitness</p>
          </div>
        </li>
        <li>
          <div class="d-flex align-items-start justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#ff4500"
              class="bi bi-check-circle-fill col-1"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              />
            </svg>
            <p class="col-11">
              Te gustaría tener más tiempo para disfrutar con tu familia
            </p>
          </div>
        </li>
        <li>
          <div class="d-flex align-items-start justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#ff4500"
              class="bi bi-check-circle-fill col-1"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              />
            </svg>
            <p class="col-11">
              Quieres aumentar tu cartera de clientes y tu presencia en redes
              sociales
            </p>
          </div>
        </li>
        <li>
          <div class="d-flex align-items-start justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#ff4500"
              class="bi bi-check-circle-fill col-1"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              />
            </svg>
            <p class="col-11">
              Si ya te cansaste de vivir en la incertidumbre de no saber si tu
              contenido funcionará o no
            </p>
          </div>
        </li>
        <li>
          <div class="d-flex align-items-start justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#ff4500"
              class="bi bi-check-circle-fill col-1"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              />
            </svg>
            <p class="col-11">
              Te preguntas el motivo por el cual no puedes atraer nuevos alumnos
              a tu perfil
            </p>
          </div>
        </li>
        <li>
          <div class="d-flex align-items-start justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#ff4500"
              class="bi bi-check-circle-fill col-1"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              />
            </svg>
            <p class="col-11">
              Estás dispuesto a invertir en tu negocio (si quieres ganar más,
              debes invertir más)
            </p>
          </div>
        </li>
        <li>
          <div class="d-flex align-items-start justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#ff4500"
              class="bi bi-check-circle-fill col-1"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              />
            </svg>
            <p class="col-11">
              Tienes 2 horas al mes para convertirte en un coach fitness exitoso
            </p>
          </div>
        </li>
        <li>
          <div class="d-flex align-items-start justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#ff4500"
              class="bi bi-check-circle-fill col-1"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              />
            </svg>
            <p class="col-11">
              Estás dispuesto a tomar una decisión y dejar de procrastinar el
              éxito de tu negocio
            </p>
          </div>
        </li>
        <li>
          <div class="d-flex align-items-start justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#ff4500"
              class="bi bi-check-circle-fill col-1"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              />
            </svg>
            <p class="col-11">
              Estas cansado de ver programas prometiendo soluciones imposibles y
              necesitas un equipo comprometido en alcanzar los objetivos
              específicos de tu negocio
            </p>
          </div>
        </li>
      </ul>
    </div>-->
