<!DOCTYPE html>
<div class="row">
  <div class="col">
    <h3>¿En qué consiste la llamada?</h3>
    <p>
      En la llamada haremos un análisis de tu negocio para detectar si cumples
      con los requisitos para ingresar al programa: Gran Parte de nuestro Éxito
      ha Sido Escoger muy bien a quién vamos a entregarle este Paso a Paso y
      Nuestro Tiempo.
    </p>
    <p>
      También revisaremos que problemas tienes, que te está haciendo falta y nos
      encargaremos de que entiendas que deberías hacer de inmediato para
      comenzar a doblar la cantidad de agendas que tienes actualmente.
    </p>
    <span>icono de imagen random</span>
    <h5>Recuerda:</h5>
    <ul>
      <li>
        <p>Solo debes agendar tu llamada si estás listo para un cambio.</p>
      </li>
      <li>
        <p>
          Debes comprometerte a asistir a tu llamada (solo tendrás una
          oportunidad de presentarte, si no puedes asistir recuerda cancelar con
          anticipación para no quedar fuera de las posibilidades)
        </p>
      </li>
      <li>
        <p>
          Solo debes agendar tu llamada si estás dispuesto a invertir en tu
          negocio: Gran Parte de las Barberías fallan por no querer invertir (Si
          quieres ganar mas, debes invertir mas, simple)
        </p>
      </li>
      <li>
        <p>
          Si tienes que consultar con alguien a la hora de tomar una decisión es
          importante que lo invites a la llamada (nuestros mentores te harán una
          oferta durante la llamada que no volverá a estar disponible).
        </p>
      </li>
    </ul>
    <button type="button" class="btn btn-primary">Agendar llamada</button>
    <h5>Este programa es para tí si…</h5>
    <ul>
      <li><p>Tienes tu propio salón.</p></li>
      <li>
        <p>Te gustaría tener más tiempo para disfrutar con tu familia.</p>
      </li>
      <li><p>Quieres aumentar tu cartera de clientes y la de tu equipo.</p></li>
      <li>
        <p>
          Si ya te cansaste de vivir en la incertidumbre de no saber cuanto va a
          facturar tu salón.
        </p>
      </li>
      <li>
        <p>
          Si te preguntas el motivo por el cual tus clientes solo van a tu salón
          y nunca mas volvieron.
        </p>
      </li>
      <li>
        <p>
          Quieres aprender a atraer clientes por tus propios medios y no
          depender de nadie
        </p>
      </li>
      <li>
        <p>
          Tienes una hora diaria para convertirte en un verdadero dueño de
          negocio.
        </p>
      </li>
      <li>
        <p>
          Estás dispuesto a tomar una decisión y dejar de procrastinar el éxito
          de tu barbería.
        </p>
      </li>
      <li>
        <p>
          Si estás cansado de solo ver programas de ventas genéricos y quieres
          un paso a paso que responda a las necesidades específicas de tu
          negocio.
        </p>
      </li>
      <li>
        <p>
          Si quieres dejar de sentirte menos que los demás salones y volverte un
          BIG PLAYER de tu Sector
        </p>
      </li>
    </ul>
    <button type="button" class="btn btn-primary">Agendar llamada</button>
  </div>
</div>
