<!DOCTYPE html>
<div class="row">
  <div class="col">
    <h2 class="text-center">¿Qué contiene el método GROW FIT?</h2>
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h3>FEEDNESS</h3>
          <img src="../../../assets/QUE CONTIENE/FEEDNESS.png" />
        </div>
        <div class="texto text-center">
          <!--mt-5 == margin-top-->
          <p>
            Estrategia de contenidos dirigida específicamente a tu alumno ideal
          </p>
        </div>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h3>FIT MAGNET</h3>
          <img src="../../../assets/QUE CONTIENE/FIT-MAGNET.png" />
        </div>
        <div class="texto text-center">
          <p>
            Gracias a este sistema nuevas personas conocerán tu negocio ¡CADA
            DIA!
          </p>
        </div>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h3>FIT FANS</h3>
          <img src="../../../assets/QUE CONTIENE/FIT-FANS.png" />
        </div>
        <div class="texto text-center">
          <p>Convierte a tus seguidores en fanáticos de tu negocio fitness</p>
        </div>
      </div>
    </div>

    <h2 class="text-center">Bonus</h2>
  </div>
</div>
