.section_metodo {
  background-image: url("../../../assets/fondos/fondo-nashex.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding-top: 1.5em;
  padding-bottom: 1em;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    /*color transparente*/ rgba(255, 255, 255, 0) 5%
  ); /*para tener un efecto difuminado // pero el problema es que me hace la letra mas oscura*/
}

h2 {
  font-size: 2em;
  padding-top: 0.5em;
  color: #ff4500;
}

h3 {
  font-size: 2em;
  color: #fb723c;
  /*margin-top: 2em;*/
  /*width: 15%;*/
  margin-bottom: 0px;
  margin-top: 0.5em;
}

p {
  font-size: 1em;
  font-family: "Proxima Nova Boldit";
}

.bloques {
  margin-top: 2em;
  background-color: #343a4185;
  border: 0.15em solid;
  border-color: #16191b;
  padding: 0;
}
.bloque1 {
  margin-top: 1em;
}
@media (min-width: 1024px) {
  .bloques {
    margin: 0.5em;
  }
}

img {
  height: 200px;
  width: 200px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bloques p {
  visibility: hidden;
  /*display: none;*/
}

.bloques:hover p {
  visibility: visible;
  /*display: block;*/
  animation: fadeIn 0.5s ease-in-out;
  -webkit-animation: fadeIn 0.5s ease-in-out;
}

.bloques:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
