/*PARA DISPOSITIVOS GRANDES*/
@media (min-width: 769px) {
  .section_bonus {
    background-image: url("../../../assets/fondos/fondo3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/*PARA DISPOSITIVOS HASTA MEDIANOS*/
@media (max-width: 768px) {
  .section_bonus {
    background-image: url("../../../assets/fondos/pil_compu_vertical.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 1.5%,
    rgba(255, 255, 255, 0) 95%,
    rgba(0, 0, 0, 1) 100%
  );
}

h2 {
  font-size: 3em;
  margin: 0;
  color: #ff4500;
}

img {
  width: 300px;
  height: 300px;
}

/*.imagen {
  margin-top: 2em;
  background-color: #343a4185;
  border: 0.15em solid;
  border-color: #2c31364d;
  padding: 0;
}*/

.imagen {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: hsla(0, 0%, 100%, 0.5);
  border: 0.15em solid;
  border-color: #5d5d5e4d;
  padding: 0;
}

.imagen:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
