<!DOCTYPE html>
<div class="section_bonus row text-center">
  <div class="overlay" style="pointer-events: none"></div>
  <h2 class="text-center">BONUS</h2>

  <div class="col-md-6 col-lg-4">
    <div class="imagen">
      <img src="../../../assets/BONUS/DOC-CLIENTE-IDEAL.png" />
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="imagen">
      <img src="../../../assets/BONUS/COMUNIDAD.png" />
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="imagen">
      <img src="../../../assets/BONUS/PORTADAS.png" />
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="imagen">
      <img src="../../../assets/BONUS/PAGINA-WEB.png" />
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="imagen">
      <img src="../../../assets/BONUS/SPIN-SELLING.png" />
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="imagen">
      <img src="../../../assets/BONUS/SORPRESAS.png" />
    </div>
  </div>
</div>
