<!DOCTYPE html>
<div class="row">
  <div class="col">
    <h2>Preguntas Frecuentes</h2>
    <div class="row">
      <div class="col">
        <h4>PROGRAMA VS CURSO</h4>
        <p>
          Un programa de transformación es similar a un curso en el sentido de
          que ambos brindan capacitación y orientación a los participantes.
        </p>
        <p>
          Sin embargo, un programa de transformación tiene un enfoque más
          completo y a largo plazo para el desarrollo personal y profesional.
        </p>
        <p>
          Mientras que un curso puede proporcionar una educación específica y
          detallada en una habilidad o tema en particular; un programa de
          transformación puede abarcar múltiples áreas de desarrollo, incluyendo
          habilidades técnicas, habilidades blandas, liderazgo, pensamiento
          crítico y resolución de problemas.
        </p>
        <p>
          El programa también incluye elementos como mentoría, retroalimentación
          y seguimiento a largo plazo para garantizar que los participantes
          puedan aplicar lo que han aprendido en su vida diaria y lograr cambios
          duraderos y sostenibles.
        </p>
        <p>
          En resumen, un programa de transformación tiene como objetivo no solo
          brindar conocimientos y habilidades específicas, sino también apoyar
          el crecimiento y desarrollo personal y profesional a largo plazo.
        </p>
      </div>
      <div class="col">
        <h4>¿Hace falta que tengas conocimientos previos?</h4>
        <p>
          Si bien tener conocimientos previos te harán avanzar más rápido en el
          desarrollo del programa, no te impide aplicar al mismo.
        </p>
        <p>
          Cualquier barbero puede ingresar al programa, solo se necesita tener
          ganas de crecer y transformar tu negocio.
        </p>
      </div>
      <div class="col">
        <h4>¿Por qué debería trabajar con Barbertendence?</h4>
        <p>
          Somos la primera agencia de soluciones digitales especializada en
          barberías.
        </p>
        <ul>
          <li>
            <p>
              Hemos trabajado y ayudado a más de mil barberos para transformar
              sus negocios y convertirse en dueños de barberías rentables.
            </p>
          </li>
          <li>
            <p>
              Trabajamos en la imagen de grandes referentes de la industria
              hispanoparlante.
            </p>
          </li>
          <li><p>etc</p></li>
        </ul>
      </div>
      <div class="col">
        <h4>Si no tienes salón propio, ¿Puedes aplicar igual?</h4>
        <p>
          Lamentablemente si no tienes salón propio este programa NO ES PARA TÍ
          y no podemos ayudarte esta vez...
        </p>
      </div>
    </div>
  </div>
</div>
