<!DOCTYPE html>
<div class="row">
  <div class="col">
    <h2>EN 90 días PODRÁS</h2>
    <div class="row">
      <div class="col">
        <ul>
          <li>
            <p>
              Tener un sistema que atraiga clientes nuevos a tu barbería, los
              retenga y los fidelice.
            </p>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>
            <p>
              Desarrollar habilidades de negocio y liderazgo que te permitan
              ganar confianza y tranquilidad para tu vida personal.
            </p>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>
            <p>
              Desmarcarte de la competencia, encontrando esa ventaja ÚNICA que
              te permite cobrar más por tus servicios sin que el cliente ponga
              resistencia
            </p>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>
            <p>
              Aplicar sistemas en tu salón para que puedas irte de vacaciones
              con tu familia y tu negocio siga facturando.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
