<!DOCTYPE html>
<div class="row text-center">
  <div class="col">
    <h2>En 90 días podrás</h2>
    <div class="row">
      <div class="col-lg-4">
        <ul class="list-unstyled">
          <li>
            <p>
              Tener un método que atraiga nuevos alumnos a tu negocio fitness,
              los retenga y los fidelice
            </p>
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul class="list-unstyled">
          <li>
            <p>
              Desligarte por completo de tu estrategia de contenido, apoyándote
              en un equipo comprometido y dispuesto a alcanzar tus objetivos
            </p>
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul class="list-unstyled">
          <li>
            <p>
              Diferenciarte de la competencia, encontrando esa ventaja ÚNICA que
              te permitirá cobrar más por tus servicios sin que el alumno oponga
              resistencia
            </p>
          </li>
        </ul>
      </div>
    </div>

    <button type="button" class="col-6 btn btn-primary">Agendar llamada</button>
  </div>
</div>
