<!DOCTYPE html>
<!--<div class="row">
  <div class="col">
    <h1 class="text-center">Growthness</h1>
  </div>
</div>-->

<!--<div class="row">
  <div class="col">
    <header
      class="d-flex align-items-center text-center justify-content-center"
    >
      <a href="/">
        <img src="../../../assets/LOGOS/PARTE_ABAJO-removebg.png" />
      </a>
    </header>
  </div>
</div>-->

<!--<header class="d-flex flex-wrap justify-content-center">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
  >
    <img src="../../../assets/LOGOS/PARTE_ABAJO-removebg.png" />
  </a>

  <ul class="nav nav-pills">
    <div class="list_categories">
      <li class="li_change_leng nav-item">
        <div class="change_leng">
          <a class="spanish text-decoration-none">Es</a>
          <span>&nbsp;|&nbsp;</span>
          <a class="english text-decoration-none">En</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link contact"><span>Contactanos</span></a>
      </li>
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="#ffffff"
            class="bi bi-text-left"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"
            />
          </svg>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">¿Quienes somos?</a></li>
          <li><a class="dropdown-item" href="#">¿Porque nos necesitas?</a></li>
          <li><a class="dropdown-item" href="#">Presentación</a></li>
          <li><a class="dropdown-item" href="#">¿Que vamos a lograr?</a></li>
          <li>
            <a class="dropdown-item" href="#">¿Que contiene este servicio?</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">¿En que consiste la llamada?</a>
          </li>
          <li><a class="dropdown-item" href="#">Condiciones</a></li>
          <li><a class="dropdown-item" href="#">Preguntas frecuentes</a></li>
        </ul>
      </div>
    </div>
  </ul>
</header>-->
