<!DOCTYPE html>
<div class="row">
  <div class="col">
    <div class="d-flex align-items-center justify-content-center">
      <p class="text-center col-10 pregunta">
        ¿Eres un coach fitness que no tiene tiempo para administrar el contenido
        de su negocio en redes sociales, y no poder escalarlo a pensar de su
        pasión y experiencia?
      </p>
    </div>

    <p class="text-center respuesta">
      Consigue llamadas de ventas y nuevos alumnos cada semana, interesados y
      dispuestos a pagarte más por tus servicios
      <span class="colorido">
        trabajando tan solo 2 horas al mes gracias al método GROW FIT</span
      >
    </p>
  </div>
</div>
