<!DOCTYPE html>
<div class="section_dolor row">
  <div class="col">
    <div class="overlay" style="pointer-events: none"></div>
    <!--para poder poner un background-image arriba de la imagen-->
    <div class="d-flex align-items-center justify-content-center">
      <p class="col-12 text-center pregunta">
        ¿No tienes
        <span class="colorido">tiempo</span> para crear y administrar el
        <span class="colorido">contenido</span> de tu
        <span class="colorido">negocio fitness</span>?
      </p>
    </div>

    <p class="col-12 text-center respuesta">
      Consigue <span class="colorido">llamadas</span> de ventas y
      <span class="colorido">nuevos</span> alumnos interesados en tus servicios
      en solo 90 días, trabajando solo
      <span class="colorido">2 horas al mes</span> gracias a nuestro método
      <span class="colorido">GROW FIT</span>
    </p>
  </div>
</div>
