.container-fluid {
  padding: 0%;
}
.primer_fondo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/fondos/dolor.jpg");
}
