<!DOCTYPE html>
<!--PARA DISPOSITIVOS HASTA MEDIANOS-->
<div class="d-lg-none section_caminos row">
  <div class="col">
    <div class="overlay" style="pointer-events: none"></div>
    <div class="caminos">
      <!--<h2 class="col">AHORA, TIENES 3 CAMINOS</h2>-->
      <h2 class="col text-center">AHORA, TIENES <br />3 CAMINOS</h2>
      <div class="d-flex align-items-center">
        <ol>
          <li>
            <p class="primero">
              No hacer nada con esta información y no agendar tu llamada,
              abriendo la posibilidad de que llegues al punto crítico, como nos
              sucedió a nosotros. (La peor de todas)
            </p>
          </li>
          <li>
            <p>
              Intentar hacer todo esto por tu cuenta, intentando adaptar nuestro
              método en tu caso. Por más que esta estructura se pueda copiar, es
              muy dificil que funcione si no conoces los secretos que hay detrás
              de toda estrategia.
            </p>
          </li>
          <li>
            <p>
              Y la que más nos gusta, es que hables con nosotros para poder
              analizar tu caso y ver si realmente este tipo de método aplica
              para tu negocio.
            </p>
          </li>
        </ol>
        <!--<img src="../../../assets/fondos/pensando.png" />-->
      </div>

      <div>
        <p>
          Imagina que sigues el camino números 2, creas toda tu estrategia e
          intentas hacerlo todo por tu cuenta, y luego te das cuenta que esto no
          funciona para tu negocio…
        </p>
        <p>
          Agendar la llamada es el camino más inteligente que puedes tomar para
          poder saber y hablar con alguien que te asesore en el tema, para
          conocer si esto es realmente para ti.
        </p>
      </div>
    </div>
  </div>
</div>

<!--PARA DISPOSITIVOS GRANDES-->
<div class="d-none d-lg-block section_caminos row">
  <div class="col">
    <div class="overlay" style="pointer-events: none"></div>
    <div class="container">
      <div class="caminos">
        <!--<h2 class="col">AHORA, TIENES 3 CAMINOS</h2>-->
        <h2 class="col text-center">AHORA, TIENES 3 CAMINOS</h2>
        <div class="d-flex align-items-center">
          <ol>
            <li>
              <p class="primero">
                No hacer nada con esta información y no agendar tu llamada,
                abriendo la posibilidad de que llegues al punto crítico, como
                nos sucedió a nosotros. (La peor de todas)
              </p>
            </li>
            <li>
              <p>
                Intentar hacer todo esto por tu cuenta, intentando adaptar
                nuestro método en tu caso. Por más que esta estructura se pueda
                copiar, es muy dificil que funcione si no conoces los secretos
                que hay detrás de toda estrategia.
              </p>
            </li>
            <li>
              <p>
                Y la que más nos gusta, es que hables con nosotros para poder
                analizar tu caso y ver si realmente este tipo de método aplica
                para tu negocio.
              </p>
            </li>
          </ol>
          <!--<img src="../../../assets/fondos/pensando.png" />-->
        </div>

        <div>
          <p>
            Imagina que sigues el camino números 2, creas toda tu estrategia e
            intentas hacerlo todo por tu cuenta, y luego te das cuenta que esto
            no funciona para tu negocio…
          </p>
          <p>
            Agendar la llamada es el camino más inteligente que puedes tomar
            para poder saber y hablar con alguien que te asesore en el tema,
            para conocer si esto es realmente para ti.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
